
.container{
    width: 98.5vw;
    height: 100vh;
    flex-direction: column;
    background-color: #f4f4f4;
} 
.header{
    background-color: #126291;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 60px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.logo{
    width: 150px;
    text-align: center;
}
.logo span{
    padding-top: 5px;
    font-size: 30px;
}
.logo p{
    margin:0;
    font-size: small;
}
.profile{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    margin-right: 50px;
}
.profile-photo{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    margin-left: 5px;
}
.container-body{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.main{
  flex: 1;  
}
.sidebar{
    padding-left: 5px;
    padding-top: 20px;
    background-color: #15202b;
    width: 200px;
    height: 100vh;
}
.sidebar-item{
    color: #cacaca;
    font-size: 18px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    cursor: pointer;
    margin-bottom: 4px;
    padding-left: 10px;
    width: 100%;
}
.sidebar-item:hover{
    background-color: #213244;
    border-left: 2px solid white;
}
.sidebar-item-select{
    color: white;
    background-color:#213244;
    border-left: 2px solid white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    cursor: pointer;
    margin-bottom: 4px;
    padding-left: 10px;
}
.item-icon{
    margin-right: 10px;
}
.profile-user{
    padding-top:5px;
    padding-bottom: 20px;
}
.profile-user:hover ul{
    display: block;
}
.profile-cuenta {
    background-color: #15202b;
    position: absolute;
    top:3vw;
    right: 2vw;
    clip-path: polygon(50% 0, 60% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 40% 20%);
    padding-top: 2vw;
    text-align: left;
    padding-left: 1.5vw;
    width: 8vw;
    flex-direction: column;
    display: none;
}
.profile-cuenta li{
    margin-top: 1vw;
    display: block;
}
.profile-cuenta li:hover{
    color:blue;
}

